**/bin/Debug/**
Source/CrossApplication.v12.suo
**/obj/Debug/**
Source/packages/**
Source/CrossApplication.suo
**/obj/Release/**
**/bin/Release/**
Source/.vs/CrossApplication/v14/.suo
**/AppPackages/**
*.csproj.user
Source/CrossApplication.sln.DotSettings.user
