**/bin/Debug/**
**/obj/Debug/**
Source/packages/**
**/obj/Release/**
**/bin/Release/**
**/AppPackages/**
*.csproj.user
/Source/.vs/CrossApplication/**
/Source/CrossApplication.sln.DotSettings.user
/Source/.idea/**
/Source/Mail/CrossApplication.Mail.Xamarins.iOS/bin/iPhone/Debug
/Source/Mail/CrossApplication.Mail.Xamarins.iOS/obj/iPhone/Debug
/Source/Mail/CrossApplication.Mail.Xamarins.UWP/bin/
/Source/Mail/CrossApplication.Mail.Xamarins.UWP/obj/
/Source/Mail/CrossApplication.Mail.Xamarins.iOS/obj
/Source/Mail/CrossApplication.Mail.Xamarins.UWP/bin/
/Source/Mail/CrossApplication.Mail.Xamarins.UWP/obj
/Source/Mail/CrossApplication.Mail.Xamarins.iOS/obj/iPhone/Debug
/Source/Mail/CrossApplication.Mail.Xamarins.iOS/obj/iPhone/Debug
/Source/Mail/CrossApplication.Mail.Xamarins.UWP/bin
/Source/Mail/CrossApplication.Mail.Xamarins.Droid/obj/.cache
/Source/AuthProviders/CrossApplication.Core.AuthProviders.Google/obj
/Source/Photos/CrossApplication.Photos.Contracts/obj
/Source/Photos/CrossApplication.Photos.Core/obj
/Source/Core/CrossApplication.Core/obj
/Source/Core/CrossApplication.Core.Common/obj
/Source/Core/CrossApplication.Core.Contracts/obj
/Source/Core/CrossApplication.Core.Xamarins/obj
/Source/Mail/CrossApplication.Mail.Core/obj
/Source/Mail/CrossApplication.Mail.Xamarins/obj
/Source/Core/CrossApplication.Core.Settings/obj
/Source/Modules/Settings/CrossApplication.Modules.Settings.Contracts/obj
/Source/Modules/Settings/CrossApplication.Modules.Settings.Core/obj
/Source/Mail/.vs/CrossApplication.Mail.Contracts/v15
/Source/Mail/CrossApplication.Mail.Contracts/obj
/Source/Core/CrossApplication.Core.Themes/obj
/Source/Xamarin/CrossApplication.Xamarin.UWP/bin/x86/Debug
/Source/Xamarin/CrossApplication.Xamarin.UWP/obj
/Source/Xamarin/CrossApplication.Xamarin.Android/obj
/Source/Mail/CrossApplication.Mail.Xamarin/obj
