**/bin/Debug/**
Source/CrossApplication.v12.suo
**/obj/Debug/**
Source/packages/**
Source/CrossApplication.suo
**/obj/Release/**
**/bin/Release/**
Source/.vs/CrossApplication/v14/.suo
**/AppPackages/**
*.csproj.user
Source/CrossApplication.sln.DotSettings.user
Source/.idea/**
/Source/Mail/Xamarins/CrossApplication.Mail.Xamarins/CrossApplication.Mail.Xamarins.iOS/bin/iPhone/Debug
/Source/Mail/Xamarins/CrossApplication.Mail.Xamarins/CrossApplication.Mail.Xamarins.iOS/obj/iPhone/Debug
/Source/Mail/Xamarins/CrossApplication.Mail.Xamarins/CrossApplication.Mail.Xamarins.UWP/bin/x86/Debug
/Source/Mail/Xamarins/CrossApplication.Mail.Xamarins/CrossApplication.Mail.Xamarins.UWP/obj/x86/Debug
